<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container px-4 py-5" id="featured-3">
        <div class="d-flex justify-content-center mb-4">
            <form action="/getState" method="get" class="d-flex align-items-center">
                <select class="form-select form-select-lg mr-2" aria-label="Large select example" name="state" style="margin-right: 10px;">
                    <% if(locals.selectedState) { %>
                        <% for (let i = 0; i < state.length; i++) { %>
                            <% if (state[i] == locals.selectedState){ %>
                                <option selected value="<%= state[i] %>"><%= state[i] %></option>
                            <% } else { %>
                                <option value="<%= state[i]%>"><%= state[i] %></option>    
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <option selected>Select a State</option>
                        <% for (let i = 0; i < state.length; i++) { %>
                            <option value="<%= state[i]%>"><%= state[i] %></option>
                        <% } %>
                    <% } %>    
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <% if (locals.selectedState){ %>
                <% data.forEach(function(brewery) { %>
                    <div class="feature col">
                        <h3 class="fs-2 text-body-emphasis"><%= brewery.name %></h3>
                        <p><%= brewery.name %> is a <%= brewery.brewery_type %> brewery located at <%= brewery.address_1 %>, <%= brewery.city %>, <%= brewery.state_province %>. Please find the contact details below:</p>
                        (+1) <%= brewery.phone %>
                        <a href="<%= brewery.website_url %>"><%= brewery.website_url %></a>
                    </div>
                <% }); %>
            <% } %>   
        </div>
    </div>

</body>
</html>
